<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
</head>
<body>
<form action="/createCustomer" method="post">
    <label>First Name</label>
    <input type="text" name="firstName" th:field="${creatCustomerForm.firstName}">
    <td th:if="${#fields.hasErrors('creatCustomerForm.firstName')}" th:errors="*{creatCustomerForm.firstName}">First Name Error</td>
    <label>Last Name</label>
    <input type="text" name="lastName" th:field="${creatCustomerForm.lastName}">
    <td th:if="${#fields.hasErrors('creatCustomerForm.lastName')}" th:errors="*{creatCustomerForm.lastName}">Last Name Error</td>
    <select name="province">
        <option th:each="p:${listProvince}" th:value="${p.id}" th:utext="${p.name}"></option>
    </select>
    <button type="submit">Create</button>
</form>
</body>
</html>